version: "3.8"

services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DB_HOST=db
    networks:
      - keploy-net

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: keploy_db
    ports:
      - "5432:5432"
    networks:
      - keploy-net

networks:
  keploy-net:
